<template>
  <div class="home">
    <h1>Vyhrané Aukce</h1>
    <Auctions />
  </div>
</template>

<script setup>
import { onMounted } from 'vue'
import { useAuctionStore } from '@/store/auction'

const auctionStore = useAuctionStore();

onMounted(() => {
  auctionStore.fetchWonAuctions();
});
</script>
