<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="6">
        <v-card>
          <v-card-title>Uživatelský profil</v-card-title>
          <v-card-text>
            <v-avatar v-if="user.picture" size="150">
              <img :src="user.picture" alt="No profile picture for this identity" referrerpolicy="no-referrer">
            </v-avatar>
            <v-divider></v-divider>
            <v-list>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Jméno</v-list-item-title>
                  <v-list-item-subtitle>{{ user.firstname }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Příjmení</v-list-item-title>
                  <v-list-item-subtitle>{{ user.lastname }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Email</v-list-item-title>
                  <v-list-item-subtitle>{{ user.email }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Skupiny</v-list-item-title>
                  <v-list-item-subtitle>{{ user.groups }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
  import { computed } from 'vue'
  import { useAuthStore } from '@/store/auth'
  const store = useAuthStore();
  const user = computed(() => {
    return store.currentUser;
  });
</script>
