<template>
  <div>
    <h1>User Count: {{ userCount }}</h1>
    <button @click="fetchUserCount">Refresh</button>
  </div>
  <div>
    <h1>401 example:</h1>
    <button @click="fetchRefreshToken">Call 401</button>
  </div>
</template>

<script setup>
  import { onMounted, computed, ref } from 'vue'
  import { useAuthStore } from '@/store/auth'
  import { useAdminStore } from '@/store/admin'
  const authStore = useAuthStore();
  const adminStore = useAdminStore();
  const userCount = computed(() => {
    if (authStore.isAuthenticated) {
      return adminStore.userCount;
    } else {
      console.error('User is not authenticated.');
    }
  });
  const fetchRefreshToken = computed(() => {
    authStore.refreshAccessToken();
  });
</script>
