<template>
    <v-row>
      <v-col
        v-for="auction in auctions"
        :key="auction.id"
        cols="12"
        sm="2"
      >
          <v-card
              class="mx-auto my-8"
              :to="'/auctions/'+ auction.id"
          >
              <v-card-item>
                  <v-card-title>
                      {{ auction.name }}
                  </v-card-title>
              </v-card-item>
              <v-card-text>
                {{ auction.description }}
              </v-card-text>
              <v-card-text>
                Stav: {{ auction.state }}
              </v-card-text>
              <v-card-text>
                Vyvolávací cena: {{ auction.initial_price }} Kč
              </v-card-text>
      </v-card>
      </v-col>
    </v-row>

</template>


<script setup>
import { computed } from 'vue'
import { useAuctionStore } from '@/store/auction'

const auctionStore = useAuctionStore();

const auctions = computed(() => {
  return auctionStore.auctions;
});
</script>
