<template>
  <div>
    <v-container>
    <v-form @submit.prevent="submitForm">
      <v-text-field
                label="Příhoz"
                v-model="amount"
                type="number"
                required
              ></v-text-field>
      <v-btn type="submit">Přidat příhoz</v-btn>
      <v-alert v-if="formError" type="error">{{ formError }}</v-alert>
    </v-form>
  </v-container>
  </div>
</template>

<script setup>
  import { ref, inject } from 'vue';
  import { useRoute, useRouter } from 'vue-router';
  import { useAuctionStore } from '@/store/auction';

  const auctionStore = useAuctionStore();

  const axios = inject('axios');

  const route = useRoute();
  const router = useRouter();

  const amount = ref(1);

  const formError = ref('');

  const today = new Date().toISOString();

  const submitForm = async () => {
    const postData = {
      auction_id: route.params.id,
      amount: amount.value,
    };
    console.log(postData)
    formError.value = '';
    console.log('Posting data:', postData);
    try {
      const response = await axios.post('/api/bids', postData);
      console.log(response.data);
      auctionStore.fetchBids(route.params.id);
      //router.push('/auctions/' + route.params.id);
    } catch (error) {
      if (error.response.data['message']) {
        alert(error.response.data['message']);
      } else {
        alert(error);
      }
      console.error(error);
    }
  };
</script>
