<template>
  <v-toolbar-title>Příhozy</v-toolbar-title>
  <v-data-table-virtual
    :headers="headers"
    :items="bids"
    item-key="id"
    class="elevation-1"
    height="300"
    :items-per-page="5"
  >
    <template v-slot:items="props">
      <td>{{ props.item.participant_username }}</td>
      <td>{{ props.item.amount}}</td>
    </template>
  </v-data-table-virtual>
</template>

<script setup>
import { ref, onMounted, computed } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import { useAuctionStore } from '@/store/auction';

const auctionStore = useAuctionStore();

const headers = [
  { title: 'Účastník', value: 'participant_username' },
  { title: 'Velikost příhozu', value: 'amount', sortable: true },
  { title: 'Vytvořeno', value: 'created', sortable: true },
];

const route = useRoute();

const bids = computed(() => {
  return auctionStore.bids;
});

onMounted( async () => {
  await auctionStore.fetchBids(route.params.id);
});
</script>
