<template>
    <v-app-bar density="compact">
        <v-app-bar-title><img src="/vutbids.png" style="height: 32px; margin-right: 8px;">VUTBids</v-app-bar-title>
        <v-btn to="/">Home</v-btn>
        <v-btn to="/about">About</v-btn>
        <v-btn to="/auctions/create" v-if="store.isAuthenticated">Vytvořit novou aukci</v-btn>
        <v-btn href="/login" v-if="!store.isAuthenticated">Přihlásit se</v-btn>
        <v-btn href="/logout" v-if="store.isAuthenticated">Odhlásit se</v-btn>
    </v-app-bar>
</template>

<script setup>
import { useAuthStore } from '@/store/auth';
const store = useAuthStore();
</script>
