<template>
  <v-toolbar-title>Účastníci</v-toolbar-title>
  <v-data-table-virtual
    :headers="headers"
    :items="participants"
    item-key="id"
    class="elevation-1"
  >
  <template v-if="auction.state == 'ONGOING' && isAuctionAuctioneer" v-slot:item.action="{ item }">
    <v-btn @click="approveParticipant(item.id, item.approved)" v-if="!item.approved" color="success" small>
      Schválit
    </v-btn>
  </template>
  <template v-if="auction.state == 'ENDED' && isAuctionAuctioneer" v-slot:item.action="{ item }">
    <v-btn @click="pickWinningParticipant(item.participant_id)" v-if="item.approved" color="success" small>
      Zvolit výherce
    </v-btn>
  </template>
  </v-data-table-virtual>
</template>

<script setup>
  import { onMounted, computed, inject } from 'vue'
  import { useAuctionStore } from '@/store/auction';
  import { useAuthStore } from '@/store/auth';
  import { useRoute, useRouter } from 'vue-router';

  const axios = inject('axios');

  const auctionStore = useAuctionStore();
  const authStore = useAuthStore();

  const route = useRoute();
  const router = useRouter();

  const headers = [
    { title: 'Uživatelské jméno', value: 'participant_username' },
    { title: 'Čas účasti', value: 'joined' },
    { title: 'Schválen', value: 'approved'},
    { title: 'Akce', value: 'action', sortable: false }
  ];

  const auction = computed(() => auctionStore.auction);

  const isAuctioneer = computed(() => {
    const groups = authStore.currentUser['groups'];
    if (groups.includes('auctioneers')) {
      return true;
    } else {
      return false;
    }
  })

  const isAuctionOwner = computed(() => {
    const currentUserId = authStore.currentUser['userId'];
    return authorId.value == currentUserId;
  });

  const isAuctionAuctioneer = computed(() => {
    if (auction.value['auctioneer_id'] == authStore.currentUser['userId']){
      return true;
    } else {
      return false;
    }
  });

  const isParticipant = computed(() => {
    const username = authStore.currentUser['username'];
    const array = toRaw(auctionStore.participants)
    const usernames = array
      .filter(user => user.participant_username)
      .map(user => user.participant_username);
    console.log(usernames)
    if (usernames.includes(username)) {
      return true;
    } else {
      return false;
    }
  });

  const participants = computed(() => {
    return auctionStore.participants;
  });

  const approveParticipant = async (id, approved) => {
    try {
      const putData = {
        approved: true,
      };
      const response = await axios.put('/api/participants/' + id, putData);
      auctionStore.fetchParticipants(route.params.id);
      auctionStore.fetchBids(route.params.id);
      router.push('/auctions/' + route.params.id);
    } catch (error) {
      console.error(error);
    }
  };

  const pickWinningParticipant = async (participantId) => {
    try {
      const putData = {
        winner_id: participantId,
      };
      const response = await axios.put('/api/auctions/' + route.params.id, putData);
      auctionStore.fetchParticipants(route.params.id);
      auctionStore.fetchBids(route.params.id);
      auctionStore.fetchAuction(route.params.id);
      router.push('/auctions/' + route.params.id);
    } catch (error) {
      console.error(error);
    }
  };

  onMounted( async () => {
    await auctionStore.fetchParticipants(route.params.id);
  });
</script>
