<template>
    <template v-if="store.isAuthenticated">
        <v-navigation-drawer
            expand-on-hover
            rail
        >
        <v-list>
            <v-list-item
            :prepend-avatar="user.picture"
            :subtitle="user.email"
            :title="user.firstname + ' ' + user.lastname"
            ></v-list-item>

            <v-divider></v-divider>

            <v-list density="compact" nav>
              <v-list-item to="/account/owned" prepend-icon="mdi-gavel" title="Moje aukce" value="myauctions"></v-list-item>
              <v-list-item to="/account/won" prepend-icon="mdi-gavel" title="Vyhrané aukce" value="wonAuctions"></v-list-item>
              <v-list-item to="/account/profile" prepend-icon="mdi-account" title="Profil" value="profile"></v-list-item>
              <v-list-item to="/account/token" prepend-icon="mdi-ticket-account" title="Moje tokeny" value="tokens"></v-list-item>
              <v-list-item v-if="isAuctioneer" to="/auctioneer/managed" prepend-icon="mdi-gavel" title="Licitátor" value="licitator"></v-list-item>
              <v-list-item v-if="isAuctioneer" to="/auctioneer/pick" prepend-icon="mdi-gavel" title="Aukce bez licitátora" value="licitator-managed"></v-list-item>
            </v-list>
        </v-list>

        </v-navigation-drawer>
    </template>
</template>

<script setup>
import { computed } from 'vue';
import { useAuthStore } from '@/store/auth';
const store = useAuthStore();
const user = computed(() => {
  return store.currentUser;
});

const isAuctioneer = computed(() => {
  const groups = store.currentUser.groups;
  if (groups == null) return false;
  if (groups.includes('auctioneers')) return true;
  else if (groups.includes('admins')) return true;
});

const isAdmin = computed(() => {
  const groups = store.currentUser.groups;
  if (groups == null) return false;
  if (groups.includes('admins')) return true;
});
</script>
