<template>
  <div>
    <h1>Error 500: Internal Server Error</h1>
    <p>Oops! Nemohl jsem najít koncový bod {{ endpoint }}. Běží vůbec mikroslužba, která tento koncový bod implementuje?.</p>
  </div>
</template>

<script setup>
props: {
  endpoint: String
}
</script>
