<template>
  <div class="home">
    <h1>Plánované aukce bez licitátora</h1>
    <Auctions />
    <v-pagination
      v-model="auctionStore.currentPage"
      :length="auctionStore.totalPages"
    ></v-pagination>
  </div>
</template>

<script setup>
import { onMounted, watch } from 'vue'
import { useAuctionStore } from '@/store/auction'

const auctionStore = useAuctionStore();

const fetchPlannedAuctions = () => {
  auctionStore.fetchPlannedAuctions(auctionStore.currentPage);
};

watch(() => auctionStore.currentPage, fetchPlannedAuctions);

onMounted(() => {
  auctionStore.reset();
  auctionStore.fetchPlannedAuctions(auctionStore.currentPage);
});
</script>
