<template>
  <div class="home">
    <h1>Aukce, kde jsem licitátorem</h1>
    <Auctions />
  </div>
</template>

<script setup>
import { onMounted } from 'vue'
import { useAuctionStore } from '@/store/auction'

const auctionStore = useAuctionStore();

onMounted(() => {
  auctionStore.fetchManagedAuctions();
});
</script>
