<template>
  <v-app>
    <NavBar />
    <SideBar />
    <v-main>
      <RouterView />
    </v-main>
  </v-app>
</template>

<script setup>
import { onMounted, provide } from 'vue'
import { RouterView } from 'vue-router'
import { useAuthStore } from '@/store/auth'
const store = useAuthStore();
onMounted(() => {
  store.checkAuth();
});
</script>
