<template>
    <v-container>
    <v-row>
      <v-col cols="12" md="6">
        <v-card>
          <v-card-title>User Profile</v-card-title>
          <v-card-text>
            <v-divider></v-divider>
            <v-list>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>First Name</v-list-item-title>
                  <v-list-item-subtitle>{{ user.firstName }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Last Name</v-list-item-title>
                  <v-list-item-subtitle>{{ user.lastName }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Email</v-list-item-title>
                  <v-list-item-subtitle>{{ user.email }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
  import { ref, onMounted, computed } from 'vue';
  import { useRoute } from 'vue-router';
  import { useUserStore } from '@/store/user';
  import axios from 'axios';

  const route = useRoute();

  const store = useUserStore();
  const user = ref({})

  onMounted( async () => {
    user.value = await store.fetchUser(route.params.id);
  });
  //const getUserById

  const isLoading = store.isLoading;
  const error = store.error

</script>
