<template>
  <h1>Token</h1>
  <v-expansion-panels>
    <v-expansion-panel title="Access Token">
      <v-expansion-panel-text>
        <v-card variant="tonal">
          <pre>{{ accessToken }}</pre>
        </v-card>
        <v-btn @click=introspectAccessToken>Introspekce</v-btn>
      </v-expansion-panel-text>
    </v-expansion-panel>
    <v-expansion-panel title="ID Token">
      <v-expansion-panel-text>
        <v-card variant="tonal">
            <pre>{{ idToken }}</pre>
        </v-card>
      </v-expansion-panel-text>
    </v-expansion-panel>
    <v-expansion-panel title="Refresh Token">
      <v-expansion-panel-text>
        <v-card variant="tonal">
          <pre>{{ refreshToken }}</pre>
        </v-card>
      </v-expansion-panel-text>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script setup>
import { onMounted, computed } from 'vue'
import { RouterView } from 'vue-router'
import { useAuthStore } from '@/store/auth'
const store = useAuthStore();
const accessToken = computed(() => {
  return store.getAccessToken();
});
const idToken = computed(() => {
  return store.getIdToken();
});
const refreshToken = computed(() => {
  return store.getRefreshToken();
});
const introspectAccessToken = () => {
  store.introspectAccessToken();
}
</script>
