<template>
  <v-container>
    <v-row>
      <v-col cols="6" md="6">
        <v-card>
          <v-card-title>{{ auction.name }}</v-card-title>
          <v-card-text>
            <v-divider></v-divider>
            <v-list>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Autor</v-list-item-title>
                  <v-list-item-subtitle>{{ authorId }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Popis</v-list-item-title>
                  <v-list-item-subtitle>{{ auction.description }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Výchozí cena</v-list-item-title>
                  <v-list-item-subtitle>{{ auction.initial_price }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Vytvořeno</v-list-item-title>
                  <v-list-item-subtitle>{{ auction.created }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Status</v-list-item-title>
                  <v-list-item-subtitle>{{ auction.state }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Licitátor</v-list-item-title>
                  <v-list-item-subtitle>{{ auction.auctioneer_id ? auction.auctioneer_id : "Žádný" }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Výherce</v-list-item-title>
                  <v-list-item-subtitle>{{ auction.winner_id ? auction.winner_id : "Žádný" }}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="6">
        <v-btn v-if="auction.state == 'PLANNED' && (isAuctionOwner || isAuctionAuctioneer)" :to="'/auctions/'+ auction.id + '/edit'" >Upravit aukci</v-btn>
        <v-btn v-if="auction.state == 'PLANNED' && isAuctioneer && !auction.auctioneer_id" @click="changeToReady">Stát se licitátorem (změnit na READY)</v-btn>
        <v-btn v-if="auction.state == 'READY' && isAuctionAuctioneer" @click="changeToOngoing">Změnit na ONGOING</v-btn>
        <v-btn v-if="auction.state == 'ONGOING' && !isAuctionAuctioneer && !isAuctionOwner && !isParticipant" @click="participateAuction">Zůčastnit se aukce</v-btn>
        <BidCreate v-if="auction.state == 'ONGOING' && !isAuctionAuctioneer && !isAuctionOwner && isParticipant"></BidCreate>
        <v-btn v-if="auction.state == 'ONGOING' && isAuctionAuctioneer" @click="changeToEnded">Ukončit aukci</v-btn>
      </v-col>
    </v-row>
  </v-container>
  <v-container v-if="auction.state == 'ONGOING' || auction.state == 'ENDED'">
    <v-row>
      <v-col cols="6">
        <Participants></Participants>
      </v-col>
      <v-col cols="6">
        <Bids></Bids>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup>
  import { ref, computed, onMounted, toRaw } from 'vue'
  import { useRoute, useRouter } from 'vue-router';
  import { useAuctionStore } from '@/store/auction'
  import { useUserStore } from '@/store/user'
  import { useAuthStore } from '@/store/auth';
  const auctionStore = useAuctionStore();
  const userStore = useUserStore();
  const authStore = useAuthStore();

  const route = useRoute();
  const router = useRouter();

  const user = ref({});

  const auction = computed(() => auctionStore.auction);

  const authorId = computed(() => auction.value ? auction.value.author_id : null);

  const isAuctioneer = computed(() => {
    const groups = authStore.currentUser['groups'];
    if (groups.includes('auctioneers')) {
      return true;
    } else {
      return false;
    }
  })

  const isAuctionOwner = computed(() => {
    const currentUserId = authStore.currentUser['userId'];
    return authorId.value == currentUserId;
  });

  const isAuctionAuctioneer = computed(() => {
    if (auction.value['auctioneer_id'] == authStore.currentUser['userId']){
      return true;
    } else {
      return false;
    }
  });

  const isParticipant = computed(() => {
    const username = authStore.currentUser['username'];
    const array = toRaw(auctionStore.participants)
    const usernames = array
      .filter(user => user.participant_username)
      .map(user => user.participant_username);
    const user = array
      .find(obj => obj.participant_username == username);
    console.log(user)
    if (usernames.includes(username) && user.approved) {
      return true;
    } else {
      return false;
    }
  });

  const changeToReady = async () => {
    auctionStore.changeAuctionToReady(auction.value['id']);
  };

  const changeToOngoing = async () => {
    auctionStore.changeAuctionToOngoing(auction.value['id']);
  };

  const changeToEnded = async () => {
    auctionStore.changeAuctionToEnded(auction.value['id']);
  };

  const participateAuction = () => {
    auctionStore.participateAuction(auction.value['id']);
  };

  onMounted( async () => {
    await auctionStore.fetchAuction(route.params.id);
    if (authorId.value) {
      await userStore.fetchUser(authorId.value);
      user.value = userStore.user;
    }
  });
</script>
