<template>
  <div>
    <h1>Formulář aukce</h1>
    <v-container>
    <v-form @submit.prevent="submitForm">
      <v-text-field v-model="auction.name" label="Název aukce" required></v-text-field>
      <v-textarea v-model="auction.desc" label="Popis"></v-textarea>
      <v-text-field v-model.number="auction.initialPrice" label="Počáteční cena" required></v-text-field>
      <v-text-field v-model="auction.startDate" type="date" label="Datum začátku" :min="today" required></v-text-field>
      <v-text-field v-model="auction.endDate" type="date" label="Datum konce" :min="today" required></v-text-field>
      <v-btn color="primary" type="submit">Vytvořit aukci</v-btn>
      <v-alert v-if="formError" type="error">{{ formError }}</v-alert>
    </v-form>
  </v-container>
  </div>
</template>

<script setup>
  import { ref, inject } from 'vue';
  import { useRouter } from 'vue-router';

  const axios = inject('axios');

  const router = useRouter();

  const auction = ref({
    name: 'Auto',
    desc: 'Chci prodat auto.',
    initialPrice: 100000,
    startDate: new Date().setDate()
  });

  const formError = ref('');

  const today = new Date().toISOString();

  const submitForm = async () => {
    if (!auction.value.name.trim()) {
        formError.value = 'Name of Auction is required.';
        return;
    }

    if (isNaN(auction.value.initialPrice)) {
      formError.value = 'Initial Price must be a number.';
      return;
    }

    if (auction.value.startDate == undefined) {
      formError.value = 'Datum začátku musí být specifikováno'
      return;
    }

    if (auction.value.endDate == undefined) {
      formError.value = 'Datum konce musí být specifikován'
      return;
    }

    const startDate = new Date(auction.value.startDate);
    const currentDate = new Date();
    if (startDate <= currentDate) {
        formError.value = 'Datum začátku musí být po dnešnímu datu.';
        return;
    }

    // Validation for end date
    const endDate = new Date(auction.value.endDate);

    if (endDate <= startDate) {
        formError.value = 'Datum konce musí být později než datum začátku';
        return;
    }

    const postData = {
      name: auction.value.name,
      desc: auction.value.desc,
      initial_price: auction.value.initialPrice,
      start_date: auction.value.startDate,
      end_date: auction.value.endDate,
    };

    formError.value = '';
    console.log('Posting data:', postData);
    const response = await axios.post('/api/auctions', postData);
    console.log(response.data)
    router.push('/account/owned')
  };
</script>
