<template>
  <div>
    <h1>Formulář aukce</h1>
    <v-container>
    <v-form @submit.prevent="submitForm">
      <v-text-field v-model="auction.name" label="Název aukce" required></v-text-field>
      <v-textarea v-model="auction.desc" label="Popis"></v-textarea>
      <v-text-field v-model.number="auction.initial_price" label="Počáteční cena" required></v-text-field>
      <p>Původní datum začátku: {{ auction.start_date }}</p>
      <v-text-field v-model="auction.start_date" type="date" label="Datum začátku" required></v-text-field>
      <p>Původní datum konce: {{ auction.end_date }}</p>
      <v-text-field v-model="auction.end_date" type="date" label="Datum konce" required></v-text-field>
      <v-select
        v-model="auction.state" :items="items" label="Item" required></v-select>
      <v-btn color="primary" type="submit">Změnit aukci</v-btn>
      <v-alert v-if="formError" type="error">{{ formError }}</v-alert>
    </v-form>
  </v-container>
  </div>
</template>

<script setup>
  import { ref, inject, computed, onMounted } from 'vue';
  import { useRoute } from 'vue-router';
  import { useAuctionStore } from '@/store/auction'

  const axios = inject('axios');

  const auctionStore = useAuctionStore()

  const route = useRoute();

  const auction = computed(() => auctionStore.auction)

  const items = ['PLANNED', 'READY', 'ONGOING', 'ENDED']

  const formError = ref('');
  const submitForm = async () => {
    if (!auction.value.name.trim()) {
        formError.value = 'Name of Auction is required.';
        return;
    }

    if (isNaN(auction.value.initial_price)) {
      formError.value = 'Initial Price must be a number.';
      return;
    }

    if (auction.value.start_date == undefined) {
      formError.value = 'Datum začátku musí být specifikováno'
      return;
    }

    if (auction.value.end_date == undefined) {
      formError.value = 'Datum konce musí být specifikován'
      return;
    }

    const startDate = new Date(auction.value.start_date);
    const currentDate = new Date();
    if (startDate <= currentDate) {
        formError.value = 'Datum začátku musí být po dnešnímu datu.';
        return;
    }

    // Validation for end date
    const endDate = new Date(auction.value.end_date);

    if (endDate <= startDate) {
        formError.value = 'Datum konce musí být později než datum začátku';
        return;
    }

    const postData = {
      name: auction.value.name,
      desc: auction.value.desc,
      initial_price: auction.value.initial_price,
      state: auction.value.state,
      start_date: auction.value.start_date,
      end_date: auction.value.end_date,
    };

    formError.value = '';
    console.log('Posting data:', postData);
    const id = route.params.id;
    const response = await axios.put('/api/auctions/' + id, postData);
    console.log(response.data)
  };

  onMounted( async () => {
    await auctionStore.fetchAuction(route.params.id);
  });
</script>
